# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# # CORS Configuration
# # Add your production frontend URL here
# FRONTEND_URL=https://yourdomain.com

# # Database
# DATABASE_URL="postgresql://username:password@localhost:5432/dbname"

# Environment
NODE_ENV=development